*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}


.cursor{
    width: 20px;
    height: 20px;
    /* border: 2px solid red; */
    background-color: #000;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(50%, 50%);
    position: absolute;
    animation: cursor 6s infinite alternate;
}